<div class="icons">
    <h2>Icons</h2>
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <span class="fa fa-file-text-o"></span>
            <span class="fa fa-balance-scale"></span>
            <span class="fa fa-shopping-cart"></span>
            <span class="fa fa-gears"></span>
            <span class="fa fa-laptop"></span>
            <span class="fa fa-users"></span>
            <span class="fa fa-mortar-board"></span>
            <span class="fa fa-book"></span>
            <span class="fa fa-tree"></span>
            <span class="fa fa-dollar"></span>
            <span class="fa fa-institution"></span>
            <span class="fa fa-question"></span>
            <span class="fa fa-facebook"></span>
            <span class="fa fa-twitter"></span>
            <span class="fa fa-google-plus"></span>
            <span class="fa fa-linkedin"></span>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="input">
                <p class="picker" data-selector=".style-guide .icons .fa" data-element="background-color">
                    <label for="sg-icon-bg-color">Background:</label>
                    <input id="sg-icon-bg-color" data-selector=".style-guide .icons .fa" data-element="background-color" type="text">
                    <div class="input-group-append">
    					<span class="input-group-text"><i></i></span>
                    </div>
                </p>
                <p class="picker" data-selector=".style-guide .icons .fa" data-element="color">
                    <label for="sg-icon-color">Foreground:</label>
                    <input id="sg-icon-color" data-selector=".style-guide .icons .fa" data-element="color" type="text">
                    <div class="input-group-append">
                        <span class="input-group-text"><i></i></span>
                    </div>
                </p>
                <p>
                    <label for="sg-icon-size">Font size:</label>
                    <input id="sg-icon-size" class="nocolor" data-selector=".style-guide .icons .fa" data-element="font-size" type="text">
                </p>
            </div>
        </div>
    </div>
</div>
