// $Id$
// Variables file for Shamrock theme.
// - - - - - - - Bootstrap variables (override values in vendor_bundled/vendor/twbs/bootstrap/scss/_variables.scss - - - - - - //

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary:         #284815; // darken(#428bca, 6.5%); // #337ab7
$secondary:		  #dddddd;
$success:         #4b792e;
$info:            #538935;
$warning:         #3a6624;
$danger:          #76a547;

$theme-colors: (
 	"primary":        	#284815,
 	"secondary": 		#dddddd,
 	"success":         	#4b792e,
	"info":           	#538935,
 	"warning":         	#3a6624,
 	"danger":          	#76a547,
	"light":			#ffffff,
 	"dark":				#000000
);

// Options
// Spacing

// Body
$body-bg:               #538935;
$body-color:            #ffffff;

// Links
$link-color:            $primary;
$link-hover-color:      #f6dc0b; // darken($link-color, 15%);
$link-hover-decoration: underline;

// Components
$component-active-color:    #ffffff;
$component-active-bg:       #284815;

// Fonts
$font-family-sans-serif:  "Marcellus", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;
$headings-font-weight:    500;

// Tables
$table-bg:                      transparent;
$table-bg-accent:               #48772e;
$table-bg-hover:                #538935;
$table-bg-active:               $table-bg-hover;
$table-border-color:            #3a6624;

// Buttons
// Forms
$input-bg:                       #ffffff;
$input-color:                    #4b792e;
$input-border-color:             #48772e;
$input-focus-border-color:       #66afe9;
$input-color-placeholder:        #76a547;
$legend-color:                   #ffffff; //$gray-900;
$legend-border-color:            #76a547;

// Dropdowns
$dropdown-bg:                    #4b792e;
$dropdown-border-color:                rgba(0,0,0,.15);
$dropdown-fallback-border:       #cccccc;
$dropdown-divider-bg:            #446e2a;
$dropdown-link-color:            #ffffff; // $gray-900;
$dropdown-link-hover-color:      #ffffff; // darken($gray-900, 5%);
$dropdown-link-hover-bg:         #406727;
$dropdown-link-active-color:     $component-active-color;
$dropdown-link-active-bg:        $component-active-bg;
$dropdown-link-disabled-color:   $gray-300;
$dropdown-header-color:          $gray-300;
$dropdown-caret-color:           #000000;

// Navs
// Navbar
$navbar-light-color:             #777777;
$navbar-light-bg:                #4b792e;
$navbar-light-border:            darken($navbar-light-bg, 6.5%);

// Navbar links
$navbar-dark-color:                #f8e33c;
$navbar-dark-hover-color:          #f8e33c;
$navbar-dark-hover-bg:             transparent;
$navbar-dark-active-color:         #f8e33c;
$navbar-dark-disabled-color:       #cccccc;
$navbar-dark-disabled-bg:          transparent;

// Pagination
$pagination-color:                     #f8e33c;
$pagination-bg:                        #3a6624;
$pagination-border:                    #2f531d;

$pagination-hover-color:               #f8e33c;
$pagination-hover-bg:                  #2f531d;
$pagination-hover-border:              #2f531d;

$pagination-active-color:              #f8e33c;
$pagination-active-bg:                 #2f531d;
$pagination-active-border:             #2f531d;

$pagination-disabled-color:            #538935;
$pagination-disabled-bg:               #3a6624;
$pagination-disabled-border:           #2f531d;

// Jumbotron
// Cards
$card-bg:                    #76a547;
$card-body-padding:          15px;
$card-heading-padding:       10px 15px;
$card-footer-padding:        $card-heading-padding;
$card-inner-border:          #69933f;
$card-footer-bg:             #3a6624;
$card-text:          $gray-900;
$card-default-border:        #dddddd;
$card-default-heading-bg:    #f5f5f5;

// Tooltips
// Popovers
// Badges
$badge-color:                 #ffffff;
$badge-link-hover-color:      #ffffff;
$badge-bg:                    #3a6624;
$badge-active-color:          $link-color;
$badge-active-bg:             #ffffff;

// Modals
// Alerts
// Progress bars
// List group
$list-group-bg:                 #76a547;
$list-group-border:             #69933f;
$list-group-hover-bg:           #83b451;
$list-group-active-color:       $component-active-color;
$list-group-active-bg:          $component-active-bg;
$list-group-active-border:      $list-group-active-bg;
$list-group-active-text-color:  lighten($list-group-active-bg, 40%);
$list-group-disabled-color:      $gray-400;
$list-group-disabled-bg:         $gray-200;
$list-group-disabled-text-color: $list-group-disabled-color;

$list-group-link-color:         #555555;
$list-group-link-hover-color:   $list-group-link-color;
$list-group-link-heading-color: #333333;

// Image thumbnails
// Figures
// Breadcrumbs
$breadcrumb-bg:                 #4b792e;
$breadcrumb-color:              #ffffff;
$breadcrumb-active-color:       $gray-300;

// Carousel
// Close
// Code

$jumbotron-bg:                   #4b792e;
$hr-border:                   #76a547;
$text-muted:                  #76a547;
$abbr-border-color:           $body-color;
$headings-small-color:        #538935;

// - - - - - - - - - -  - - - - - - Other variables, if any - - - - - - - - - - - - - - - - - //